/* purgecss start ignore */
body {
  margin: 0;
}

@import "./assets/nprogress.css";
@import "../node_modules/@fullcalendar/core/main.css";
@import "../node_modules/@fullcalendar/daygrid/main.css";
@import "../node_modules/@fullcalendar/list/main.css";

/* purgecss end ignore */